{% extends 'DefaultTemplates/base.html' %}
{% load static %}

<!-- Block to add references in navigation bar -->
{% block HeadSection %}
<script src="{% static 'JS/Recruiter.js' %}"></script>
{% endblock %}

{% block LeftNavBar %}
    {% if ShowArchiveStudents %}
        <li class="nav-item"><a class="nav-link nav-link" href=" {% url 'Recruiter:home' %} "><span class="fa fa-home"></span> Home</a></li>
    {% else %}
        {% if request.user.is_superuser %}
                <li class="dropdown">
                    <a id="RecruiterDropdown" class="dropdown-toggle nav-link" role="button" data-toggle="dropdown" href="#">Recruiter</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'Recruiter:show-recruiters' %}">Show Recruiters</a>
                        <a class="dropdown-item" href="{% url 'Recruiter:register-recruiter' %}">Add Recruiter</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a id="StudentNavBarDropDown" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#">Student<span class="caret"></span></a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'Recruiter:new-student' %}">Add Student</a>
                      <a class="dropdown-item" href="{% url 'Recruiter:archive-student' %}">Archived Student</a>
                    </div>
                </li>
        {% endif %}
    {% endif %}
{% endblock %}


{% block RightNavBar %}
    <!-- Add welcome only if first name is passed in session -->
    {% if request.session.fName %}
        <li class="nav-item"><a class="nav-link nav-link">Welcome, {{ request.session.fName }}</a></li>
    {% endif %}
    <li class="nav-item"><a class="nav-link nav-link" href="{% url 'Recruiter:logout'%}"><span class="fa fa-sign-out"></span>Logout</a></li>
{% endblock %}


<!-- Block to add body -->
{% block content %}
<!-- This URL will be used in Recruiters.js -->
<input type="hidden" id="ArchiveURL" data-url="{% url 'Recruiter:mark-student-archive' %}"/>
<input type="hidden" id="RemoveArchiveURL" data-url="{% url 'Recruiter:remove-student-archive' %}"/>

<div>
    {% if Student %}
    {% if ShowArchiveStudents %}
        <h3 class="" style="text-align:center">Archive Student</h3>
    {% else %}
        <h3 class="" style="text-align:center">Student</h3>
    {% endif %}
    <div class="container-fluid pull-left">
        {% if ShowArchiveStudents %}
            <button type="button" id="removeArchiveButton" class="btn" onclick="javascript:RemoveStudentFromArchive();">Remove Archive</button>
        {% else %}
            <button type="button" id="ArchiveButton" class="btn" onclick="javascript:MarkArchive();">Archive</button>
        {% endif %}
    </div>
    <br>
    <br>
    <table class="table table-hover table-responsive" id="HomeStudentTable">
    <thead>
        <tr>
            <th style="display:none;">ID</th>
            <th>Archive</th>
            {% if request.user.is_superuser %}
                <th style="width:75px">Delete Student</th>
            {% endif %}
            <th style="width:200px">Student Name</th>
            <th>Phone Number</th>
            <th>E-mail</th>
            <th>Status</th>
            {% if request.user.is_superuser %}
                <th>Converted By</th>
            {% endif %}
            <th style="width:75px">Preferred Country</th>
            {% if ShowArchiveStudents == false %}
                <th style="text-align:center">Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for student in Student %}
        <tr id = {{ student.ID }} class="studentID" >
            <td style="display:none;">{{ student.ID }}</td>
            <td id="archiveChkBox"><input type="checkbox"></td>
            {%  if request.user.is_superuser %}
                <td><button type="button" class="btn btn-danger" onclick="confirmBeforeDelete('{%url 'Recruiter:delete-student' %}?studentId={{ student.ID }}')"><span class="fa fa-trash"></span></button></td>
            {% endif %}
            <td>{{ student.Name }}</td>
            <td>{{ student.PhoneNumber }}</td>
            <td>{{ student.Email }}</td>
            <td>{{ student.Status }}</td>
            {% if request.user.is_superuser %}
                <td>{{ student.StatusChangedBy }}</td>
            {% endif %}
            <td>{{ student.Country }}</td>
            {% if ShowArchiveStudents == false %}
                {%  if student.Status == 'INITIAL' %}
                    <td> <button class="btn btn-primary" onclick=" RedirectToURL('{% url 'Recruiter:convert-student' %}?studentId={{ student.ID }}&user_first_name={{ request.session.fName }}&user_last_name={{ request.session.lName }}')" style="color:white">Convert Student</button></td>
                {% else %}
                    {% if not request.user.is_superuser %}
                        <td> <button class="btn btn-success" disabled>Converted</button></td>
                    {% else %}
                        {% if student.Status == 'CONVERTED' %}
                            <td><button class="btn btn-warning" onclick="RedirectToURL('{% url 'Recruiter:reinitial' %}?studentId={{ student.ID }}')" style="color:black">Re-Initialize</button></td>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
        <h4 style="text-align:center">No Student available</h4>
    {% endif %}
</div>
{% endblock %}


{% block ScriptSection %}   
    {% if Student %}
        $(function () {
            $('#HomeStudentTable').DataTable();
        });
    {% endif %}
{% endblock %}