{% extends 'DefaultTemplates/base.html' %}
{% load crispy_forms_tags %}

<!-- Adding home button to regisrer left nav header -->
{% block LeftNavBar %}
    <li class="nav-item"><a class="nav-link nav-link" href=" {% url 'Recruiter:home' %} ">Home</a></li>
{% endblock %}

{% block RightNavBar %}
    <!-- Add welcome only if first name is passed in session -->
    {% if request.session.fName %}
        <li class="nav-item"><a class="nav-link nav-link"><label>Welcome, {{ request.session.fName }}</label></a></li>
    {% endif %}
    <li class="nav-item"><a class="nav-link nav-link" href="{% url 'Recruiter:logout'%}">Logout</a></li>
{% endblock %}


{% block content %}

<form method="POST">

    {% csrf_token %}
    <h5 style="text-align:center">Register New Recruiter</h5>
    <br>
    <small><span style='color:red'>*</span> denotes mandatory field</small>
    <br>
    <table class="" cellpadding="15" cellspacing="15">
        {% for field in form %}
            <tr>
                <div class="row-fluid form-group">
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                    {% if field.help_text %}
                        <td>{{ field.help_text }}</td>
                    {% endif %}
                    {% if field.error %}
                        <td>{{ field.error }}</td>
                    {% endif %}
                </div>
            </tr>
        {% endfor %}
    </table>

    <br>
    <br>
    <div id="buttonDiv" class="container">
        <button class="btn btn-outline-primary btn-primary" type="submit" method="POST">Save</button>
        <button class="btn" type="button" onclick="RedirectToURL({% url 'Recruiter:home' %})">Back</button>
    </div>
</form>
{% endblock %}