{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Lead Tracking</title>
    {% endif %}
	<style>{% block StyleSection %}   {% endblock %}</style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


	<script src="{% static 'JS/main.js' %}"></script>
	<script src="{% static 'JS/Recruiter.js' %}"></script>
	{% block HeadSection %} {% endblock %}
</head>
<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href=" {% url 'Recruiter:home' %}">Lead Tracking</a>
				</div>
				<div class="nav navbar-nav mr-auto">
						{% block LeftNavBar %}   {% endblock %}
					</div>
				<ul class="nav navbar-nav navbar-right">
					{% block RightNavBar %}   {% endblock %}
				</ul>
			</div>
		</nav>
	<br><br><br><br>

	<div class="container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="span-12">
				{% for message in messages %}
				<div class="alert alert-{{ message.tags }}" style="text-align:center">
					{{ message }}
				</div>
				{% endfor %}
			{% block content %}{% endblock %}
			</div>
		</div>
	</div>
	<br><br><br><br>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
<script> {% block ScriptSection %}{% endblock %} </script>

</body>
</html>